
<body>

    <br>
    <div class="card">
      <img src="assets/image/photo1.jpeg" alt="Event 1">
      <div class="card-info">
        <h2>Race 1</h2>
        <p> ID: 1001</p>
        <p>location: Warje,pune</p>
        <p>Date: January 15, 2025</p>
        <p>Time: 9:00 AM - 12:00 PM</p>
        <button>Register</button>
      </div>
    </div>
    
    <div class="card">
      <img src="assets/image/photo2.jpeg" alt="Event 2">
      <div class="card-info">
        <h2>Race 2</h2>
        <p> ID: 1002</p>
        <p>location: banner,pune</p>
        <p>Date: February 20, 2025</p>
        <p>Time: 10:00 AM - 2:00 PM</p>
        <button>Register</button>
      </div>
    </div>
    
    <div class="card">
      <img src="assets/image/photo1.jpeg" alt="Event 3">
      <div class="card-info">
        <h2>Race 3</h2>
        <p> ID: 1003</p>
        <p>location: kharadi,pune</p>
        <p>Date: March 25, 2025</p>
        <p>Time: 8:00 AM - 11:00 AM</p>
        <button>Register</button>
      </div>
    </div>

    <div class="card">
        <img src="assets/image/photo2.jpeg" alt="Event 2">
        <div class="card-info">
          <h2>Race 4</h2>
          <p> ID: 1004</p>
          <p>location: karve road,pune</p>
          <p>Date: April 20, 2025</p>
          <p>Time: 10:00 AM - 2:00 PM</p>
          <button>Register</button>
        </div>
      </div>
    <br>
    </body>